@nextid-core-library:registry=https://pkgs.dev.azure.com/nxcd/NextID/_packaging/NextidCoreLibrary/npm/registry/
@nxcd-library:registry=https://pkgs.dev.azure.com/nxcd/NextID/_packaging/NXCDLibrary/npm/registry/

always-auth=true
